form {
  display: grid;
  grid-template-columns: 13rem 13rem 13rem 13rem;
  justify-content: center;
  grid-template-rows: 10rem 10rem 10rem 10rem;
  grid-gap: 3rem;
}

.btn  {
  grid-row: 5;
  grid-column: 2;
}

.accomodations {
  grid-column: 3/6;
}