@media screen and (max-width: 988px) {
  h1{
    color: blue;
  }

  form {
    text-align: center;
    display: inline;
    /* grid-template-columns: 13rem;
    grid-template-columns:  10rem; */
  }
  
}