@media screen and (max-width: 988px) {

  form {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 13rem;
    grid-template-columns:  10rem; */
  }

  .btn  {
    width: 10rem;
    margin-right: auto;
    margin-left: auto;
  }
  
}