header {
  text-align: center;
  color: palegoldenrod;
}

div{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  text-align: center;
  grid-gap: 1rem;
  
}
div h2{
  color:purple;
}

img {
  box-shadow: 0 0 30px #777
}

section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #eee;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}