body{ 
  display: grid;
  grid-template-columns: 1fr 1fr;

}

section {
  border: 2px solid black;

}

.one {
  background-color: #0DEE0D;

}

.two {
  background-color: #8B978B;
}


.three {
background-color:#00B900 ;  
}


.four {
background-color: #061906;  
color:  white;
}



.five {
  background-color: #AF4E00;
  color: white;
  
}