

header{
  border: 1px solid black;
  background-image:url(../images/jeep-beach.jpg) ;
  height: 30rem;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: 100% 65%;
}

nav a{
  text-decoration: none;

}
nav{
text-align: center;
margin-top: 1rem;
}
main {
  display: grid;
  grid-template-columns: 3fr  ;
}
.options {
  text-align: centers;
}

.scooter-title {
  text-align: center;
}

section {
  border: 2px solid black;

}

.scooters {
  background-color: #0DEE0D;
  height: 23rem;
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  justify-content: center;
  grid-gap: 1rem;
  margin-top: 1rem;
  

}

div{ 
  border: 1px solid black ;
}

.metro-scooter {
  height: 15rem;
  width: 13.5rem;
  ;

}






.two {
  background-color: #8B978B;
}


.three {
background-color:#00B900 ;  
}


