

header{
  border: 1px solid black;
  background-image:url(../images/jeep-beach.jpg) ;
  height: 30rem;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: 100% 65%;
}

nav{
text-align: center;
}
main {
  display: grid;
  grid-template-columns: 3fr  ;
}

section {
  border: 2px solid black;

}

.one {
  background-color: #0DEE0D;
  height: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;

}

div{ 
  border: 1px solid black ;
}







.two {
  background-color: #8B978B;
}


.three {
background-color:#00B900 ;  
}


