
body{
  background-color: #DAD2D8
  /* background-image: url(https://imgs.search.brave.com/JFc6OAb8GeWjekpeVgYFRLz9ljMKk6hGTTPaqdilQQg/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAzLzI4LzMzLzIz/LzM2MF9GXzMyODMz/MjM5NV82THd3Z0Rr/eDdqTlU4MVBDYW9k/UUtwVGZENjVUSjJ6/Ry5qcGc); 
  background-repeat: no-repeat; */
}
nav{
  display: flex;
  justify-content: space-evenly;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  margin-top: 7rem;
  font-family: 'Young Serif', serif
}
section {
  border: 1px solid black;
}

.current-events{
  height: 10rem;
  background-color: #A8201A; 
  color:#0F8B8D;
  font-family: 'Young Serif', serif
}

.weather  {
  grid-column: 1/3;
  height: 20rem;
  background-color:rebeccapurple;
  color:#0F8B8D;
  font-family: 'Young Serif', serif

}

.spotlight {
  grid-column: 2;
  grid-row: 1;
  height: 10rem;
  background-color: rebeccapurple; 
  color:#0F8B8D;
  font-family: 'Young Serif', serif
}
footer{
  text-align: center;
  margin-top:11rem ;
  font-family: 'Montserrat', sans-serif;
}

.img-caption {
text-align: center;
}

.bg-img {
 background-color: #0F8B8D;
}
