body {
  background-color: #ecd9bd
}

nav{
  display: flex;
  justify-content: space-evenly;
  background-color: #edc460;
  border: 1px solid black;
  align-items: center;
}

.texas {
  height: 6rem;
  width: 10rem;
}

main {
  display: grid;
  overflow: hidden;
  grid-row-gap: 2rem;
/* grid-template-areas: 
" "
" "
" spotlight-1 spotlight-2 spotlight-3 "; */
}

 .join {
  background-image: url('../images/gbG4c51.jpg');
  width: 100rem;
  height: 26rem;
  background-size: contain  ;
  background-repeat: no-repeat;
}

.sun {
  height: 4rem;
  width: 4rem;
}

.weather  {
  height: 20rem;
  background-color:#6f7985;
  font-family: 'Young Serif', serif;
}

.spotlight-1 {
  height: 10rem;
  background-color: #6f7985; 
  font-family: 'Young Serif', serif;
  border: 1px solid black;
  /* grid-area:spotlight-1 ; */
}

.spotlight-2 {

  background-color: #6f7985; 
  font-family: 'Young Serif', serif;
  border: 1px solid black;  
  /* grid-area:spotlight-2 ; */

}

.spotlight-3{
  background-color: #6f7985; 
  font-family: 'Young Serif', serif;
  border: 1px solid black;
  /* grid-area:spotlight-3 ; */

}

footer{
  text-align: center;
  margin-top:5rem ;
  font-family: 'Montserrat', sans-serif;
}

.img-caption {
text-align: center;
}


