
/* body{
  background-color: #ecd9bd
}
nav{
  display: flex;
  justify-content: space-evenly;
  background-color: #edc460;
  border: 1px solid black;
  align-items: center;
}

.texas {
  height: 6rem;
  width: 10rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  margin-top: 7rem;
  font-family: 'Young Serif', serif
}
section {
  border: 1px solid black;
}

.join {
  background-image: url('../images/gbG4c51.jpg');
  width: 100rem;
  height: 26rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.join a {
  color: white;
}

.current-events{
  height: 10rem;
  background-color: #6f7985; 
  font-family: 'Young Serif', serif;
  grid-row:;
}

.weather  {
  grid-column: 1/3;
  height: 20rem;
  background-color:#6f7985;
  font-family: 'Young Serif', serif

}

.sun {
  height: 4rem;
  width: 4rem;}

.spotlight-1 {
  grid-column: ;
  grid-row: 3 ;
  height: 10rem;
  background-color: #6f7985; 
  font-family: 'Young Serif', serif
}


.spotlight-2{
  background-color: #6f7985; 
  grid-row: 3 ;




}


.spotlight-3{
  background-color: #6f7985; 
  grid-row: 3 ;



}


footer{
  text-align: center;
  margin-top:11rem ;
  font-family: 'Montserrat', sans-serif;
}

.img-caption {
text-align: center;
}
 */
