main{
  display: grid;
  grid-template-columns: 41rem 1fr ;
  grid-template-areas:
  "sec-1 "
  "sec-2"
  "sec-3"
  ;

}

section {
  border:1px solid black;
height: 20rem;
}

.section-1{
  grid-area:sec-1
}

.section-2{
  grid-area:sec-2
}

.section-3{
  grid-area:sec-3
}


img{
  height: auto;
  width: 30rem;
}




