@media screen and (max-width:  700px) {


  .events {
  grid-template-columns:1fr;
}

.button { 
  display: block;
  position: relative;
  left: 31rem;

}
nav a {
  display: none;
}
.texas {
  position: relative;
  right: 22.94rem;

}

.join {
  text-align: left;
}

.hero-img {
  height:20rem;
  width: 20rem;
}

  .spotlight-1{
grid-area: sp-1;
}

.spotlight-2{
grid-area: sp-2;
  
}


.spotlight-3{
grid-area: sp-3;
  
}

  .spotlight  {
 grid-template-areas: 
 "sp-1"
 "sp-2"
 "sp-3";
}

}