@media screen and (max-width:  578px) {
.spotlight-1{
grid-area: sp-1;
}

.spotlight-2{
grid-area: sp-2;
  
}


.spotlight-3{
grid-area: sp-3;
  
}

  .spotlight  {
 grid-template-areas: 
 "sp-1"
 "sp-2"
 "sp-3";
}

}