header {
  background-image: url(../images/OHV-SEO-1152x768.jpg);
  background-repeat: no-repeat;
  height: 20rem;
  background-position: 10% 67%;
  background-size: cover;
  margin-top: 0 ;
  padding-top: 0.5rem;
}


.content-table {
  border-collapse: collapse;
}
