.container {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;


}

img {
  width: 6.25rem;
  height: 6.25rem;
}

.title  {
  grid-column: 1/4;
  background-color: dodgerblue;
  grid-area: title;

}

.card-1 {
  border: 0.0625rem black solid;
  grid-area: card-1;
}
.info {
  color: cadetblue;
}

.card-2 {
border: 0.0625rem black solid;
grid-area: card-2;
}

.card-3 {
  border: 0.0625rem black solid;
  grid-area: card-3;
}

.footer {
  background-color: dodgerblue;
  grid-area: footer ;
}