.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  justify-content: center;
}

img {
  width: 6.25rem;
  height: 6.25rem;
}

.title  {
  grid-column: 1/4;
  background-color: dodgerblue;

}

.card-1 {
  grid-column: 2/2;
  grid-row: 2/2;
  border: 0.0625rem black solid;
}
.info {
  color: cadetblue;
}

.card-2 {
  grid-row: 2;
  border: 0.0625rem black solid;

}

.card-3 {
  grid-row: 2;
  border: 0.0625rem black solid;

}

.footer {
  grid-column: 1/4;
  background-color: dodgerblue;
}