 /* body{
  background-image: url(https://imgs.search.brave.com/JFc6OAb8GeWjekpeVgYFRLz9ljMKk6hGTTPaqdilQQg/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAzLzI4LzMzLzIz/LzM2MF9GXzMyODMz/MjM5NV82THd3Z0Rr/eDdqTlU4MVBDYW9k/UUtwVGZENjVUSjJ6/Ry5qcGc); 
  background-repeat: no-repeat;
}  */

nav{
  display: flex;
  justify-content: space-evenly;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  margin-top: 7rem;
}
section {
  border: 1px solid black;
}

.current-events{
  height: 10rem;
}

.weather  {
  grid-column: 1/3;
  height: 20rem;
}

.spotlight {
  grid-column: 2;
  grid-row: 1;
  height: 10rem;
}
footer{
  text-align: center;
  margin-top:11rem ;
}

.img-caption {
text-align: center;
}
