 /* body{
  background-image: url(https://imgs.search.brave.com/JFc6OAb8GeWjekpeVgYFRLz9ljMKk6hGTTPaqdilQQg/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAzLzI4LzMzLzIz/LzM2MF9GXzMyODMz/MjM5NV82THd3Z0Rr/eDdqTlU4MVBDYW9k/UUtwVGZENjVUSjJ6/Ry5qcGc); 
  background-repeat: no-repeat;
}  */


main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section {
  border: 1px solid black;
}

