body{
  text-align: center;
  text-decoration: none;
}
  
header {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
  width: 365px;
}
header h1 {
  margin-top: auto;
  margin-bottom: auto;
}
img{
  height: 134px;
  width: 103px;
  margin-right: 58px;
}
nav {
  display: grid;
  grid-gap: 22px;
  margin-bottom: 75px;
  margin-right: auto;
  margin-left: auto;
}
main {
   display: grid;
   grid-gap: 10px;
   justify-content: center;
}
.card {
  display: inline-block;
  border: black 3px solid;
  width: 471px;
  margin-top: 30px;
}

