
header {
  display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: #E9EB87;
    height: 10.9375rem;}


form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}


button {
	padding: 10px;
	font-size: 1.2rem;
	font-weight: 700;
}