@media screen and (max-width: 578px) {
  body{
    text-align: center;
    text-decoration: none;
  }
    
  nav {
    flex-direction: column;
    
  }
   main {
     grid-template-areas: 
     " title"
     " card-1"
     " card-2";
     /* !important; */
     grid-template-columns: 1fr !important;
  }

}