@media screen and (max-width: 578px) {
  body{
    text-align: center;
    text-decoration: none;
  }
    
  nav {
    display: none !important;
    
  }
   main {
     grid-template-areas: 
     " title"
     " card-1"
     " card-2";
     grid-template-columns: 1fr ;
     margin-bottom: 1rem;
  }

  iframe {
      width: 22.5rem;
      
  }
  



}