@media screen and (max-width: 578px) {
  body{
    text-align: center;
    text-decoration: none;
  }
    
  nav {
    display: none !important;
    
  }
   main {
     grid-template-areas: 
     " title"
     " card-1"
     " card-2";
     grid-template-columns: 1fr ;
     margin-bottom: 1rem;
  }

  iframe {
      width: 22.5rem;
      
  }
  #menu {
    display: none;
  }
  
#menu {
  font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
  top: 1rem;
	right: 1rem;
}


#menu::before {
	content: "☰";
}


#menu.open::before {
	content: "👌";
}


}