.background-color {background-color: #DAD2D8;}

.gun-metal {background-color:#143642;}

.dark-cyan {background-color: #0F8B8D;}

.Gamborage {background-color: #EC9A29;         }

.Cornell-red {background-color: #A8201A;   }
.young-serif {
  font-family: 'Young Serif', serif;
}

.montserrat {font-family: 'Montserrat', sans-serif;}