form {
  display: grid;
  grid-template-columns: 5rem 5rem 5rem;
  grid-gap: 8rem;
  justify-content: center;
}

.location {
  display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
}
nav {
  text-align: center;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: 900;
}

header h1 {
text-align: center;
}